:root{
    --poppins: 'Poppins', sans-serif;
    --manrope: 'Manrope', sans-serif;
    --tint-blue: #1C1E53;
    --dark-blue: #282938;
    --white: #FFFFFF;
    --yellow-type: #FCD980;
    --royal-blue: #2405F2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.heading{
    color: var(--dark-blue);
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-transform: capitalize;
}
.paragraph{
    color: var(--white);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
}

    /* ===== navbar start here ===== */
#navbar{
    padding: 16px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_menu{
    display: flex;
    align-items: center;
    column-gap: 48px;
}
.nav_item{
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.nav_item li a{
    color: #BBBBCB;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.nav_item li a:hover{
    color: var(--white);
}
.nav_btn a{
    color: var(--white);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    padding: 16px 48px;
    background-color: transparent;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.nav_btn a:hover{
    background-color: var(--yellow-type);
    color: var(--dark-blue);
}
    /* ===== navbar end here ===== */


    /* ===== banner start here ===== */
#banner{
    padding: 218px 0 128px 0;
    background-color: var(--tint-blue);
}
.banner_wrapper{
    display: flex;
    column-gap: 60px;
}
.banner_content{
    width: 582px;
}
.banner_heading{
    color: var(--white);
    font-family: var(--poppins);
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
}
.banner_content .paragraph{
    width: 562px;
    margin-top: 24px;
}
.banner_btn a{
    color: #1B1C2B;
    font-family: var(--manrope);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
    padding: 16px 56px;
    background-color: var(--yellow-type);
    border-radius: 41px;
    margin-top: 64px;
}
.banner_btn a:last-child{
    background-color: transparent;
    color: var(--white);
}
.banner_btn a i{
    margin-left: 16px;
}
    /* ===== banner end here ===== */


    /* ===== work start here ===== */
#work{
    padding: 128px 0;
    background-color: #F4F6FC;
}
.work_main{
    display: flex;
    column-gap: 142px;
}
.work_content .heading{
    width: 405px;
    margin-bottom: 16px;
}
.work_content .paragraph{
    color: var(--dark-blue);
    width: 405px;
}
.work_content a{
    color: var(--royal-blue);
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    width: 244px;
    margin-top: 16px;
}
.work_content a i{
    margin-left: 16px;
}
.work_item_wrapper{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    margin-right: 97px;
}
.work_item{
    width: 50%;
}
.pointer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    overflow: hidden;
}
.pointer span{
    font-family: var(--poppins);
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    position: absolute;
    z-index: 5555;
}
.back{
    height: 50px;
    width: 50px;
    background-color: var(--royal-blue);
    border-radius: 8px;
    position: absolute;
    z-index: 5;
}
.middle{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #5239FA;
    border-radius: 8px;
    bottom: 9px;
    left: 8px;
    z-index: 555;
    text-transform: capitalize;
}
.front{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: var(--yellow-type);
    border-radius: 8px;
    top: 27px;
    right: 26px;
    z-index: 55;
}
.work_item h3{
    width: 328px;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color: var(--dark-blue);
    font-family: var(--poppins);
}
.work_item .paragraph{
    width: 303px;
    color: var(--dark-blue);
}
    /* ===== work end here ===== */


    /* ===== project start here ===== */
#project{
    padding: 128px 0;
}
.project_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project_heading a{
    color: var(--dark-blue);
    font-size: 16px;
    font-family: var(--poppins);
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
}
.project_heading a i{
    margin-left: 16px;
    vertical-align: middle;
}
.project_wrapper{
    display: flex;
    column-gap: 32px;
    align-items: center;
    margin-top: 64px;
}
.big_project{
    width: 843px;
    height: 600;
    overflow: hidden;
    position: relative;
}
.big_project:hover .big_project_overley{
    left: 0;
    top: 0;
}
.big_project img{
    height: inherit;
    width: inherit;
    object-fit: cover;
}
.big_project_overley{
    position: absolute;
    left: -396px;
    top: 0;
    width: 396px;
    height: 100%;
    background-image: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    padding: 312px 35px 76px 48px;
    transition: all linear 0.3s;
}
.project_item_heading{
    width: 313px;
    color: var(--white);
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-transform: capitalize;
}
.big_project_overley .paragraph{
    width: 293px;
    margin-top: 16px;
    opacity: 0.8;
}
.big_project a{
    color: var(--yellow-type);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 48px;
}
.big_project a i{
    margin-left: 16px;
}
.small_project{
    display: flex;
    width: 405px;
    flex-wrap: wrap;
    row-gap: 32px;
}
.small_project_item{
    width: 405px;
    height: 284px;
    overflow: hidden;
    position: relative;
}
.small_project_item:hover .small_project_overley{
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
}
.small_project_item img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.small_project_overley{
    position: absolute;
    width: inherit;
    height: inherit;
    padding: 129px 36px 45px 56px;
    background-image: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    left: 0;
    top: 0;
    transition: all linear 0.3s;
    opacity: 0;
}
.small_project_overley .project_item_heading{
    width: 290px;
}
.small_project_overley a{
    color: var(--yellow-type);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 10px;
}
.small_project_overley a i{
    margin-left: 16px;
}
    /* ===== project end here ===== */


    /* ===== feature start here ===== */
#feature{
    padding: 128px 0;
    background-color: #F4F6FC;
}
#feature h6{
    color: var(--dark-blue);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}
#feature .heading{
    width: 630px;
    margin-top: 12px;
    text-align: center;
    margin: 0 auto;
}
.feature_wrapper{
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
    margin-top: 47px;
}
.feature_item{
    padding: 58px 32px 48px 48px;
    width: 405px;
    background-color: var(--white);
}
.feature_item i{
    font-size: 32px;
    color: var(--royal-blue);
}
.feature_item h3{
    width: 315px;
    color: var(--dark-blue);
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-transform: capitalize;
    margin-top: 22px;
}
.feature_item .paragraph{
    width: 324px;
    color: var(--dark-blue);
    margin-top: 12px;
}
    /* ===== feature end here ===== */


    /* ===== about start here ===== */
#about{
    padding: 128px 0;
    background-color: #F4F6FC;
    border: 1px solid #000;
}
.about_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_left h3{
    width: 327px;
    font-size: 36px;
    font-family: var(--poppins);
    font-weight: 600;
    color: var(--dark-blue);
    line-height: 56px;
}
.about_left .paragraph{
    width: 327px;
    color: var(--dark-blue);
    margin-top: 16px;
}
.about_right h3{
    width: 843px;
    font-size: 32px;
    font-family: var(--poppins);
    color: var(--dark-blue);
    font-weight: 500;
    line-height: 48px;
}
.client_info{
    margin-top: 51px;
    display: flex;
    align-items: center;
    column-gap: 14px;
}
.client_img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
}
.client_img img{
    height: inherit;
    width: inherit;
    object-fit: cover;
}
.client_details h4{
    color: var(--dark-blue);
    font-size: 18px;
    font-family: var(--poppins);
    font-weight: 500;
    line-height: 32px;
    text-transform: capitalize;
}
.client_details h6{
    color: var(--dark-blue);
    font-size: 12px;
    font-family: var(--poppins);
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
}
    /* ===== about end here ===== */


    /* ===== navbar start here ===== */
    /* ===== navbar end here ===== */
    /* ===== navbar start here ===== */
    /* ===== navbar end here ===== */